= form_for [@tournoi, @war] do |f|
  
  .field
    = f.label :joueur1
    = select("war", "user_1_id", @tournoi.users.collect {|p| [ p.name, p.id ] }, {include_blank: true})
  .field
    = f.label :joueur2
    = select("war", "user_2_id", @tournoi.users.collect {|p| [ p.name, p.id ] }, {include_blank: true})
  .field
    = f.label :game
    = select("war", "game_id", @tournoi.games.collect {|p| [ p.title, p.id ] }, {include_blank: true})
    %br
  .actions
    = f.submit