<%= form_for(@tournoi) do |f| %>
  <% if @tournoi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournoi.errors.count, "error") %> prohibited this tournoi from being saved:</h2>

      <ul>
      <% @tournoi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :nbPlayerMax %><br>
    <%= f.text_field :nbPlayerMax %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
