%p#notice= notice
%h1 Liste des tournois
%table
  %thead
    %tr
      %th Nom
      %th Lieu
      %th Nombre de joueur max
      %th Nombre d'inscrits
      %th Date
      %th{:colspan => "3"}
  %tbody
    - @tournois.each do |tournoi| 
      %tr
        %td= tournoi.name 
        %td= tournoi.place 
        %td= tournoi.nbPlayerMax 
        %td= tournoi.users.count
        %td= tournoi.date 
        %td= link_to 'Show', tournoi 
        - if can? :update, @tournoi
          %td= link_to 'Edit', edit_tournoi_path(tournoi) 
        %td= link_to 'Destroy', delete_tournoi_path(tournoi), method: :delete, data: { confirm: 'Are you sure?' } 
        %td= link_to "S'enregister", register_tournoi_path(tournoi)
        %br
  %div{:style => "width: 800px;"}
  #map{:style => "width: 800px; height: 400px;"}
= link_to 'New Tournoi', new_tournoi_path 


