%p#notice= notice

%p
  %strong Name:
  = @tournoi.name
%p
  %strong Place:
  = @tournoi.place
%p
  %strong Nbplayermax
  = @tournoi.nbPlayerMax
%p
  %strong Date:
  = @tournoi.date
%p
  %strong Jeux sélectionnés:
  %br
  - @tournoi.games.each do |tg|
    = tg.title 
    %br
    =tg.description
    %br
%p
  %strong Utilisateurs enregistrés:
  %br
  - @tournoi.users.each do |tu|
    = tu.email
    %br  
%p
  %strong Match enregistrés
  %br
  - @tournoi.wars.each do |tw|
    = User.find_by_id(tw.user_1_id).email 
    VS 
    = User.find_by_id(tw.user_2_id).email
    %br  
    = tw.scoreJ1
    = tw.scoreJ2 
    = Game.find_by_id(tw.game_id).title
%p
  %strong Score des users
  = render 'ranking'
=link_to 'Play', new_tournoi_war_path(@tournoi)
- if current_user.admin?
  = link_to 'Edit', edit_tournoi_path(@tournoi)  |
  = link_to 'Back', tournois_path
