%p#notice= notice

%p
  %strong Name:
  = @tournoi.name
%p
  %strong Place:
  = @tournoi.place
%p
  %strong Nbplayermax
  = @tournoi.nbPlayerMax
%p
  %strong Date:
  = @tournoi.date
%p
  %strong Jeux sélectionnés:
  %br
  - @tournoi.games.each do |tg|
    %br
    %br
    = tg.title
    = tg.description
    - @var = 1
    - wars = @tournoi.wars.where(game_id: tg.id)
    - if wars.blank?
      %br
      Il n'y a pas de match pour ce jeu
    - else
      - wars.each do |tw|
        %br
        Match 
        = @var
        - @var +=1
        = User.find(tw.user_1_id).email 
        VS 
        = User.find(tw.user_2_id).email  
        - if tw.scoreJ1.blank?
          #display_result
            = form_for [@tournoi,@tournoi.wars.find(tw)], :remote => true do |f|
              = f.label :Scorej1
              = f.text_field :scoreJ1
              = f.label :Scorej2
              = f.text_field :scoreJ2
              =f.submit "Save", :disable_with=>"Loading..."
        - else
          = tw.scoreJ1
          = tw.scoreJ2

      
%p
  %strong Utilisateurs enregistrés:
  %br
  - @tournoi.users.each do |tu|
    = tu.email
    %br  
%p
  %strong Score des users
  %br
  = render 'ranking'
=link_to 'Play', new_tournoi_war_path(@tournoi)
- if current_user.admin?
  = link_to 'Edit', edit_tournoi_path(@tournoi)  |
  = link_to 'Back', tournois_path
