%h2
= form_for(@user) do |f|
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "off"
    %br
    = fields_for "user[location_attributes]", @user.location do |task_form|
      Adresse
      %br/
      = task_form.text_field :address
  .actions
    = f.submit "Update"
= link_to "Back", :back
