%h1 Liste des jeux
%table
  %thead
    %tr
      %th Titre
      %th Description
      %th Créateur
      %th{:colspan => "3"}
  %tbody
    - @game.each do |g| 
      %tr
        %td= g.title 
        %td= g.description
        %td= g.user.name
        - if current_user.admin?
          %td= link_to 'Edit', edit_game_path(g) 
          %br
= link_to 'Nouveau jeu', new_game_path 
